.btn-container {
    display: flex;
}

.btn-container button {
    width: 100%;
    border-radius: 10px;
}

.btn h6 {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}

@media (min-width: 576px) {

    .btn-container button {
        width: calc(100% - 70px);
    }

    .btn h6 {
        font-size: 18px;
    }
}